*{
margin: 10px;
}
.button{
  width: 100px;
  height: 30px;
  margin-top: 20px;
  background-color: blue;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

input{
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 5px;
}
.form{
  margin-left: 20px;
}
.button:hover{
background-color: rgba(0, 0, 255, 0.473);

}
table{
  width: 80%;
  text-align: left;
  background-color: aqua;
  margin: 10px;
  border: 2px solid black;
  border-collapse: collapse;
}
table th{
  border: 2px solid black;
}
tbody tr td{
  border: 1px solid black;
}

tbody tr td:last-child {
  color: red;
  cursor: pointer;
}
